.light-light1 {
    background: linear-gradient(to bottom, rgb(2, 13, 19), rgb(19, 47, 93));
    padding-top: 20vh;
    padding-bottom: 200px;
    background-size: cover;
    background-position: top;
    position: relative;
    /* clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); */
}

.heading-ssk {
    font-family: Montserrat;
    font-size: 55px;
    color: #DDE2EC;
    text-shadow: 2px 2px 10px #CCCCCC;

}

.text-info1 {
    font-family: Montserrat;
    color: #DDE2EC;
    letter-spacing: 2px;
    font-size: 50px;
    padding-bottom: 20px;
}

.img-responsive2 {
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
}

.img-responsive3 {
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
}

.para-ssk {
    color: #cccccc;
    font-family: Montserrat;
    font-size: 18px;
    padding: 10px;
}

.button-ssk {
    background: linear-gradient(to left, rgb(2, 13, 19), rgb(19, 47, 93));
    font-family: Montserrat;
    color: #cccccc;
    border-radius: 10rem;
    display: inline-block;
    border: none;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 10px #cccccc;
}

.button-ssk:hover {
    background-color: #CCCCCC;
    background: linear-gradient(to left, rgb(2, 13, 19), rgb(35, 90, 177));
    transform: translateY(3px);
    box-shadow: 0px 2px 10px #cccccc;
}

.button-ssk:hover::after {
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0;
}