.red-back{
    width: 100%;

}

.event-image-container{

}

.event-image{
    width: 100%;
} 

.event-container{
    height: 100%;
}

.headings-container{
    /* background-color: blue; */
    text-align: center;
}

.primary-heading-event{
    /* background-color: green; */
    margin-top: 20%;
}

.comp-heading{
	font-weight: 400;
	margin-bottom: 3rem;
    /* text-decoration: underline; */
}

.comp-heading:hover{
    text-decoration: underline;
}