 .animate{
    width: 40%;
    position: absolute;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-left: -20%;
    margin-top: -15%;
 }

 .heading-text{
    font-family: Montserrat  ;
    animation-name: moveInBottom; 
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;

 }

.header-styling{
    /* font-size: 62.5%; */
    background-image: linear-gradient(to bottom, rgba(#0f0f0f,0.5), rgba(#1f1f1f,0.5)), url(../../../../assets/img/underwater-anahita.png);
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    height: 32rem;
}

 @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}