.light-light{
    background: linear-gradient(to top, rgb(2, 13, 19), rgb(19, 47, 93));
    padding-top: 25%;
    margin-top: -20%; 
    padding-bottom: 200px;
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.heading-ssk23{
    font-family: Montserrat  ;
    font-size: 40px;
    color: #DDE2EC;
    text-shadow: 2px 2px 10px #CCCCCC;
    
}

.img-ssk1{
    height: 18vh;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.img-ssk2{
    height: 200px;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.img-ssk3{
    height: 200px;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.img-ssk4{
    height: 200px;
    background-color: white;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.desc-ssk{
    font-family: Montserrat  ;
    color: #DDE2EC;
    font-size: 20px;
    margin-bottom: 20px;
}

