.light-light{
    background: linear-gradient(to top, rgb(2, 13, 19), rgb(19, 47, 93));
    padding-top: 25%;
    margin-top: -20%; 
    padding-bottom: 200px;
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.img-sska1{
    border-radius: 20px; 
    background-color:  rgb(2, 13, 19);
    margin-top: 40px;
    max-width: 800px;
    width: 80vw;
    margin-bottom: 40px;
}

.img-sska2{
    border-radius: 20px;
    background-color:  rgb(2, 13, 19);
    width: 80vw;
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-sska3{
    border-radius: 20px;
    background-color:  rgb(2, 13, 19);
    max-width: 800px;
    width: 80vw;
    margin-top: 40px;
    margin-bottom: 40px;
}



.desc-ssk243{
    font-family: Lato  ;
    color: rgb(2, 13, 19);
    font-size: 20px;
    margin-bottom: 20px;
}

.heading-ssk15{
    font-family: Lato  ;
    font-size: 40px;
    color: rgb(2, 13, 19);
    text-shadow: 2px 2px 10px rgb(2, 13, 19);
    animation: ease-in 1s ;
}

.margin-neg{
    margin-top: -2rem !important;
}

.large-image-responsiveness{
    width: 100%;
}

@media(max-width: 1200px){
    .large-image-responsiveness{
        width: 75% !important;
    }
}
@media(max-width: 992px){
    .large-image-responsiveness{
        width: 100% !important;
    }
}