.red-back{
    width: 100%;

}

.image-container{
    /* background-color: yellow; */
    padding-top: 4rem;
}

.blog-image{
    height: auto;
    width: 100%;
}

.blog-container{
    height: 100%;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.blog-container:hover{
    border-left: 1rem solid #66615B;
    padding-left: 0;
}

.headings-container{
    /* background-color: blue; */
    text-align: left;
    padding-left: 3rem;
}

.primary-heading-blog{
    /* background-color: green; */
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    margin-top: .5rem;
}

.blog-date{
    text-align: left;
    margin-bottom: 0;
    letter-spacing: 0;
    color:#3d3d3d;
    font-weight: 700;
    text-transform: uppercase;
}