.red-back {
    width: 100%;

}

.blog-image {
    height: auto;
    width: 100%;
}

.blog-container {
    height: 100%;
    padding-left: 1rem;
    padding-bottom: 2rem;
}


.headings-container {
    /* background-color: blue; */
    text-align: left;
    padding-left: 3rem;
}

.primary-heading-blog {
    /* background-color: green; */
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    margin-top: .5rem;
}

.blog-date {
    text-align: left;
    margin-bottom: 0;
    letter-spacing: 0;
    color: #3d3d3d;
    font-weight: 700;
    text-transform: uppercase;
}

.blogs-page-spinner {
    /* background-color: yellow; */
    height: 8rem;
    width: 8rem;
    font-weight: 20rem;
    margin: 30rem auto;
    margin-top: 15rem;
    margin-left: 50%;
    align-self: center;
}

@media (max-width: 600px) {
    .blogs-page-spinner {
        height: 8rem;
        width: 8rem;
        margin-left: 40%;
    }
}

@media (max-width: 400px) {
    .blogs-page-spinner {
        margin-bottom: 15rem;
        margin-top: 10rem;
    }
}