.heading-main{
    font-family: Roboto,Arial,sans-serif  ;
    font-size: 3.4rem;
    font-weight: 600;
    animation: ease-in 1s ;
    position: relative;
    margin: 2rem auto ;
    margin-bottom: 6rem;
    color: rgb(61, 61, 61);
}

.small-heading{
    font-family: Roboto,Arial,sans-serif  ;
    font-weight: 500;
    line-height: 1.35;
    position: relative;
    font-size: 3rem;
    text-transform: none;
    letter-spacing: 2px;
    color: rgb(61, 61, 61);
}

.small-heading-edited{
    font-family: Roboto,Arial,sans-serif  ;
    font-weight: 400;
    line-height: 1.35;
    position: relative;
    font-size: 1.4rem;
    text-transform: none;
    letter-spacing: 2px;
}

.image-anahita{
    width: 100%;
    margin: 4.5rem 1rem;
}
.desc-ssk1{

    font-family:  Roboto,Arial,sans-serif  ;
    color: rgb(61, 61, 61);
    font-size: 16px;
    text-align: left;
    line-height: 2.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: normal;
    font-weight: 500;
}

.reduce-margin{
    margin-bottom: -15rem;
}


.btn-blue{
    color: rgba(20,150,180);
    background-color: white;
    border: 2px solid  rgba(20,150,180,0.67);
    font-family: Roboto,Arial,sans-serif  ;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 0.5rem 3rem;
    transition: linear 0.3s;
    cursor: pointer;
}

.btn-blue:hover{
    background-color: rgba(20,150,180);
    color: white;
}

.button-ssk:hover::after{
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0;
}

.single-icon-container{
    /* background-color: orange; */
    margin-left: 2rem;
}
.icon-ssk{
    position: relative;
    width: 25rem;
    height: 15rem;
    font-weight: 900;
    text-decoration: bold;
    border: 2px solid rgba(20,20,20,0.2);
    margin-bottom: 2rem;
    padding: auto auto;
    box-shadow: 0px 2px 3px rgba(20,20,20,0.3);
    transition: all 0.3s;
    cursor: arrow;
    opacity: 0.8;
}

.icon-ssk:hover{


    transform: translateY(-10px);
}


.icon-ssk:hover .icon-info{
    
    transform: scale(1.1);
}
.icon-ssk:hover .info-title{
    

    transform: scale(1.1);
}


.icon-info{
    color: rgba(20,150,180, 1);
    font-weight: 800;
    font-size: 3rem;
    font-family: Lato  ;
    text-decoration: bold;
}

.icons-row{
    margin-bottom: 190px;
    /* background-color: yellow; */
    text-align: center;
}

.info-title{ 
    font-family: Lato  ;
    text-transform: uppercase;
    text-decoration: bold;
    color: rgba(20,150,180, 1);
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    padding-left: auto ;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem; 
}

.u-margin-bottom{
    border-bottom: 3px solid #3d3d3d;
    border-radius: 1rem;
}

.icon-align{
    /* background-color: yellow; */
    margin-left: -6rem;
    margin-top: 2rem;
}



@media screen and (max-width: 1199px) {
    .icons-container{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 992px) {
    .icons-container{
        background-color:transparent;
        width: 100%;
        background-color: red;
        display: flex;
        flex-wrap: wrap;
    }

    .single-icon-container{
        display: inline-block;
        /* background-color: yellow; */
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .icon-ssk{
        width: 15rem;
        height: 15rem;

    }

    .icon-info{
        color: rgba(20,150,180, 0.67);
        font-weight: 800;
        font-size: 2rem;
        font-family: Lato  ;
        text-decoration: bold;
    }
    
    
    .info-title{
        font-family: Lato  ;
        text-transform: uppercase;
        text-decoration: bold;
        color: rgba(20,150,180, 0.67);
        letter-spacing: 2px;
        text-align: center;
        font-size: 1.5rem;
        padding-left: auto ;
        padding-right: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.icon-infos{
    font-family: Roboto;
    margin-top: 2.44rem !important;
    font-weight: 400;
}

.all-icons-container{
    /* background-color: #3d3d3d; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 1200px){
    .all-icons-container{
        /* background-color: green; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3rem;
        width: 100%;

    }
}

@media (max-width: 992px){
    .all-icons-container{
        /* background-color: green; */
        display: block;
        margin-top: 3rem;
        width: 100%;

    }

    .single-icon-container{
        display: inline-block;
    }

}

.icon-responsive{
    /* background-color: yellow; */
    width: 100%;
}

@media (max-width: 1200px){
    .icon-responsive{
        font-size: 4rem;
    }
    .icon-ssk{
        /* background-color: red; */
        width: 20rem;
    }
}

@media (max-width: 992px){
    .description2{
        font-size: 1rem;
    }
}

@media (max-width: 480px){
    .icon-ssk{
        /* background-color: red; */
        width: 18rem;
    }
}