.sketchfab-ssk1 {
    width: 100%;
    margin-top: 6rem;
    height: 36rem;
    /* border-radius: 20px; */
    /* border: 4px solid rgb(2, 13, 19); */
    /* box-shadow: 2px 2px 20px rgb(2, 13, 19); */
}

.heading-ssk29 {
    font-family: Montserrat;
    font-size: 40px;
    color: rgb(2, 13, 19);
    text-shadow: 2px 2px 10px rgb(2, 13, 19);
    margin-bottom: 80px;
    animation: moveInLeft 1s;
}