.sketchfab-responsive {
    /* background-color: yellow; */
}

.key-features-varun {
    /* background-color: red; */
    padding: 0;
    margin-top: 6rem;
    padding: 2rem;
}

@media (max-width: 768px) {
    .key-features-varun {

        /* background-color: yellow; */
        padding-bottom: 0;
        width: 80%;
        margin: 0 auto;
        margin-bottom: -5rem;
    }
}