.desc-ssk24 {
    font-family: Montserrat;
    color: rgb(2, 13, 19);
    font-size: 20px;
    margin-bottom: 20px;
    /* text-shadow: 2px 2px 20px rgb(2, 13, 19); */
    background-color: #BEC4CB;
    padding: 20px;
    border-radius: 20px;
}

.heading-ssk15 {
    font-family: Montserrat;
    font-size: 40px;
    color: rgb(2, 13, 19);
    text-shadow: 2px 2px 10px rgb(2, 13, 19);
    animation: ease-in 1s;
}

.heading-ssk16 {
    font-family: Montserrat;
    font-size: 55px;
    color: rgb(2, 13, 19);
    text-shadow: 2px 2px 10px rgb(2, 13, 19);
    animation: ease-in 1s;
    text-shadow: 2px 2px 20px rgb(2, 13, 19);
}

.img-ssks {
    height: 35rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.img-sske {
    height: 35rem;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    /* background-color: black; */
    /* border: 1px solid black; */

}

.img-sskm {
    height: 35rem;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-sskb {
    height: 35rem;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}