.team {
    z-index: 10;
}

.sponsors {
    z-index: -1;
}

.abc {
    background-color: wheat;
}

.mobile-responsive {
    /* background-color: pink; */
    width: 100%;
    /* border: 1rem solid rgba(0, 0, 0, 0.233); */
    margin: 0 auto;
}