.heading-ssk2 {
    font-family: Montserrat;
    font-size: 55px;
    color: rgb(2, 13, 19);
    text-shadow: 2px 2px 10px rgb(2, 13, 19);
    margin-bottom: 80px;
    animation: moveInLeft 1s;
}

.robo-heading4 {
    font-family: Montserrat;
    color: rgb(2, 13, 19);
    letter-spacing: 2px;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.container-ssk {
    margin-left: 10vw;
    margin-right: 10vw;
}

.para-ssk2 {
    color: rgb(2, 13, 19);
    font-family: Montserrat;
    font-size: 18px;
    padding: 10px;
}

.post-ssk {
    padding: 3rem;
    min-height: 450px;
    box-shadow: 0px 3px 10px #cccccc;

    margin-bottom: 80px;
    cursor: pointer;
}

.post-ssk:hover {
    border: none;
    box-shadow: 2px 2px 10px rgba(35, 174, 244, 0.67);
    transform: scale(1.005);
}
